#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
  color: white;
}

.logo {
  height: 6em;
  padding: 1.5em;
  will-change: filter;
  transition: filter 300ms;
}
.logo:hover {
  filter: drop-shadow(0 0 2em #646cffaa);
}
.logo.react:hover {
  filter: drop-shadow(0 0 2em #61dafbaa);
}

@keyframes logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

@media (prefers-reduced-motion: no-preference) {
  a:nth-of-type(2) .logo {
    animation: logo-spin infinite 20s linear;
  }
}

.card {
  padding: 2em;
}

.read-the-docs {
  color: #888;
}

.game-started {
  display: flex;
}

.game-not-started {
  display: none;
}

.my-turn {

}

.playing-card-container {
  display: flex;
  flex-direction: row;
  gap: 10px;
  justify-content: center;
  align-items: center;
}

.playing-card {
  width: 100px;
  height: 150px;
  background-color: white;
  border: 1px solid black;
  border-radius: 10px;
  display: flex;
  justify-content: center;
  align-items: center;
  transition: all 0.3s ease;
}

.playing-card:hover {
  background-color: #f0f0f0;
}

.playing-card.disabled {
  background-color: #f0f0f0;
  cursor: default;
}

.playing-card.disabled:hover {
  background-color: #f0f0f0;
  border: 1px solid black;
}

.playing-card.selected {
  background-color: black;
  color: white;
  transform: translateY(-10px);
  transition: all 0.3s ease; 
}

.error-container {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  gap: 10px;
}

.error {
  color: red;
  font-weight: bold;
}

#background-image {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  z-index: -1;
}

.table-surface {
  /* background-color: rgba(0, 255, 8, 0.269); */
  z-index: -1;
  position: fixed;
  /* TODO: make this dynamic based on the size of the screen */
  top: 25%;
  left: 10%;
  width: 75vw;
  height: 50vh;

  transform: rotateX(50deg);
  /* transform-origin: bottom center; */
  perspective: 1000px;
  transform-style: preserve-3d;

  display: relative;

}

.table-card {
  background-color: rgba(192, 192, 192, 0.925);
  transform: rotateZ(45deg);
  scale: 0.85;
  position: absolute;
  top: 50%;
  left: 35%;
  transform: translate(-50%, -50%) rotateZ(25deg);
}

.playing-card.played {
  background-color: rgba(192, 192, 192, 0.704);
  color: black;
  z-index: -1;
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%) rotateX(50deg) rotateZ(45deg);
  scale: 0.85;
  /* transform-origin: bottom center; */
  perspective: 1000px;
  transform-style: preserve-3d;
  transition: all 1s ease;
}